@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Italiana", serif;
  font-style: normal;
}
*::-moz-selection {
  background-color: white;
}
*::selection {
  background-color: white;
}

.navbar-container {
  background-color: #D9D9D9;
}
.navbar-container .inactive-navbar {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0px 85px;
  gap: 0px 390px;
  padding-top: 20px;
  background-color: #D9D9D9;
}
.navbar-container .inactive-navbar .logo {
  margin-top: -6px;
  margin-left: 10px;
  padding-bottom: 10px;
  background-color: #D9D9D9;
}
.navbar-container .inactive-navbar .middle {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #D9D9D9;
}
.navbar-container .inactive-navbar .middle .left-line {
  width: 200px;
  height: 0.9px;
  background-color: #B49450;
  margin-top: 19.5px;
  margin-left: -125px;
}
.navbar-container .inactive-navbar .middle .circle1 {
  width: 16px;
  height: 16px;
  background-color: #B49450;
  border-radius: 100%;
  position: absolute;
  z-index: 10;
  margin: -8px 90px;
}
.navbar-container .inactive-navbar .middle .circle2 {
  width: 16px;
  height: 16px;
  background-color: #B49450;
  border-radius: 100%;
  position: absolute;
  z-index: 10;
  margin: -8px -100px;
}
.navbar-container .inactive-navbar .middle .menu {
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 85px;
  color: #B49450;
  background-color: #D9D9D9;
  cursor: pointer;
}
.navbar-container .inactive-navbar .middle .menu:hover {
  color: #1F2D23;
}
.navbar-container .inactive-navbar .middle .right-line {
  width: 200px;
  height: 0.9px;
  background-color: #B49450;
  margin-top: 19.5px;
  margin-left: 80px;
}
.navbar-container .inactive-navbar .span-sun {
  font-size: 40px;
  margin-left: -50px;
  color: #B49450;
  background-color: #D9D9D9;
}
.navbar-container .inactive-navbar .span-sun .sun {
  background-color: #D9D9D9;
}
.navbar-container .inactive-navbar .top {
  display: none;
}
.navbar-container .inactive-navbar .down {
  display: none;
}
.navbar-container .active-navbar {
  background-color: #1F2D23;
  height: 747px;
  overflow: hidden;
}
.navbar-container .active-navbar .logo {
  display: none;
}
.navbar-container .active-navbar .middle {
  display: none;
}
.navbar-container .active-navbar .span-sun {
  display: none;
}
.navbar-container .active-navbar .top {
  text-align: center;
  margin-left: -60px;
}
.navbar-container .active-navbar .top .button-close {
  color: #B49450;
  font-size: 60px;
  cursor: pointer;
}
.navbar-container .active-navbar .down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.navbar-container .active-navbar .down .left {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: -60px;
}
.navbar-container .active-navbar .down .left .link {
  font-size: 60px;
  text-transform: capitalize;
  color: #B49450;
  margin-top: 20px;
}
.navbar-container .active-navbar .down .left #options {
  width: 300px;
  border: none;
  color: #B49450;
  font-size: 60px;
  outline: none;
  background-color: #1F2D23;
  margin-left: -5px;
}
.navbar-container .active-navbar .down .left #options option {
  font-size: 30px;
  margin-left: 100px;
}
.navbar-container .active-navbar .down .right .shape {
  margin-top: -75px;
  margin-left: 96px;
  position: relative;
  z-index: 2;
}
.navbar-container .active-navbar .down .right .icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  z-index: 3;
  margin: -600px 200px;
}
.navbar-container .active-navbar .down .right .icons .left {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  gap: 20px;
}
.navbar-container .active-navbar .down .right .icons .left .brush-tool-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #1F2D23;
  text-align: center;
  margin-left: -50px;
  margin-top: 50px;
}
.navbar-container .active-navbar .down .right .icons .left .brush-tool-circle .brush-tool {
  color: white;
  font-size: 45px;
  margin-top: 16px;
}
.navbar-container .active-navbar .down .right .icons .left .pen-tool-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #1F2D23;
  text-align: center;
  margin: -40px 90px;
}
.navbar-container .active-navbar .down .right .icons .left .pen-tool-circle .pen-tool {
  color: white;
  font-size: 39px;
  margin-top: 20px;
}
.navbar-container .active-navbar .down .right .icons .left .code-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #1F2D23;
  text-align: center;
  margin: 130px 120px;
}
.navbar-container .active-navbar .down .right .icons .left .code-circle .code {
  color: white;
  font-size: 45px;
  margin-top: 18px;
}
.navbar-container .active-navbar .down .right .icons .right {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 30px;
  margin-top: 20px;
}
.navbar-container .active-navbar .down .right .icons .right .file-code-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #1F2D23;
  text-align: center;
  margin: -50px -235px;
}
.navbar-container .active-navbar .down .right .icons .right .file-code-circle .file-code {
  color: white;
  font-size: 40px;
  margin-top: 18px;
}
.navbar-container .active-navbar .down .right .icons .right .color-pen-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #1F2D23;
  text-align: center;
  margin: 165px -100px;
}
.navbar-container .active-navbar .down .right .icons .right .color-pen-circle .color-pen {
  color: white;
  font-size: 34px;
  margin-top: 20px;
}
.navbar-container .active-navbar .down .right .icons .right .design-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #1F2D23;
  text-align: center;
  margin: -125px 68px;
}
.navbar-container .active-navbar .down .right .icons .right .design-circle .design {
  margin-top: 17px;
  width: 43px;
}
.navbar-container .active-navbar .down .right .icons .right .digital-drawing-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #1F2D23;
  text-align: center;
  margin: 0px 0px;
}
.navbar-container .active-navbar .down .right .icons .right .digital-drawing-circle .digital-drawing {
  width: 50px;
  margin-top: 11px;
}