@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
*{margin: 0px; padding: 0px; box-sizing: border-box; text-decoration: none; font-family: "Italiana", serif; font-style: normal; 
    &::selection{background-color: white;};
};

//* ------------------navbar-----------------------------//
.navbar-container-dark{background-color: #D9D9D9;

    .inactive-navbar-dark{display: flex; flex-direction: row; text-align: center; margin: 0px 85px; gap: 0px 390px; padding-top: 20px; background-color: #D9D9D9;
        position: relative;
        .logo{margin-top: -6px; margin-left: 10px; padding-bottom: 10px; background-color: #D9D9D9;};

        .middle{display: flex; flex-direction: row; text-align: center; background-color: #D9D9D9;

            .left-line{width: 200px; height: 0.9px; background-color: #B49450; margin-top: 19.5px; margin-left: -125px;};

            .circle1{width: 16px; height: 16px; background-color: #B49450; border-radius: 100%; position: absolute; z-index: 10; margin: -8px 90px;};

            .circle2{width: 16px; height: 16px; background-color: #B49450; border-radius: 100%; position: absolute; z-index: 10; margin: -8px -100px;};

            .menu{font-weight: 400; text-transform: capitalize; margin-left: 85px; color: #B49450; background-color: #D9D9D9;
                cursor: pointer; &:hover{color: #1F2D23;};
            };

            .right-line{width: 200px; height: 0.9px; background-color: #B49450; margin-top: 19.5px; margin-left: 80px;};
        };

        .span-sun{font-size: 40px; margin-left: -50px; color: #B49450; background-color: #D9D9D9;
            .sun{background-color: #D9D9D9; cursor: pointer; &:hover{color: #1F2D23;}}
        };

        .top{display: none;};
        .down{display: none;};

    };

    .active-navbar-dark{ background-color: #1F2D23; height: 747px;

        .logo{display: none;};

        .middle{display: none;};

        .span-sun{display: none;};

        .top{text-align: center; margin-left: -60px;
            .button-close{color: #B49450; font-size: 60px; cursor: pointer;};
        };

        .down{display: grid; grid-template-columns: 1fr 1fr; justify-items: center;

            .left{display: flex; flex-direction: column; align-self: center; margin-top: -60px;

                .link{font-size: 60px; text-transform: capitalize; color: #B49450; margin-top: 20px;};

                #options{width: 300px; border: none; color: #B49450; font-size: 60px; outline: none; background-color: #1F2D23; margin-left: -5px;

                    option{font-size: 30px; margin-left: 100px;};
                };
            };

            .right{
                .shape{margin-top: -75px; margin-left: 96px; position: relative; z-index: 2;};
                
                .icons{display: grid; grid-template-columns: 1fr 1fr; position: absolute; z-index: 3; margin: -600px 200px;
                    
                    .left{display: grid; grid-template-columns: 1fr; margin-top: 20px; gap: 20px;

                        .brush-tool-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #1F2D23; text-align: center;

                            margin-left: -50px; margin-top: 50px;

                            .brush-tool{color: white; font-size:45px; margin-top: 16px;};
                        };

                        .pen-tool-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #1F2D23; text-align: center;

                            margin: -40px 90px;

                            .pen-tool{color: white; font-size: 39px; margin-top: 20px;};
                        };

                        .code-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #1F2D23; text-align: center;
                        
                            margin: 130px 120px;

                            .code{color: white; font-size: 45px; margin-top: 18px;};
                        };

                    };

                    .right{display: grid; grid-template-columns: 1fr; margin-left: 30px; margin-top: 20px;
                        
                        .file-code-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #1F2D23; text-align: center;

                            margin: -50px -235px;

                            .file-code{color: white; font-size: 40px; margin-top: 18px;};
                        };

                        .color-pen-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #1F2D23; text-align: center;
                        
                            margin: 165px -100px;

                            .color-pen{color: white; font-size: 34px; margin-top: 20px;};
                        };

                        .design-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #1F2D23; text-align: center;
                        
                            margin: -125px 68px;

                            .design{margin-top: 17px; width: 43px;}
                        };

                        .digital-drawing-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #1F2D23; text-align: center;
                        
                            margin: 0px 0px;

                            .digital-drawing{width: 50px; margin-top: 11px;};
                        };

                    };
                };
            };
        };



    };
};

.navbar-container-light{background-color: #1F2D23;

    .inactive-navbar-light{display: flex; flex-direction: row; text-align: center; margin: 0px 85px; gap: 0px 390px; padding-top: 20px; background-color: #1F2D23;

        .logo{margin-top: -6px; margin-left: 10px; padding-bottom: 10px; background-color: #1F2D23;};

        .middle{display: flex; flex-direction: row; text-align: center; background-color: #1F2D23;

            .left-line{width: 200px; height: 0.9px; background-color: #B49450; margin-top: 19.5px; margin-left: -125px;};

            .circle1{width: 16px; height: 16px; background-color: #B49450; border-radius: 100%; position: absolute; z-index: 10; margin: -8px 90px;};

            .circle2{width: 16px; height: 16px; background-color: #B49450; border-radius: 100%; position: absolute; z-index: 10; margin: -8px -100px;};

            .menu{font-weight: 400; text-transform: capitalize; margin-left: 85px; color: #B49450; background-color: #1F2D23;
                cursor: pointer; &:hover{color: #D9D9D9;};
            };

            .right-line{width: 200px; height: 0.9px; background-color: #B49450; margin-top: 19.5px; margin-left: 80px;};
        };

        .span-sun{font-size: 40px; margin-left: -50px; color: #B49450; background-color: #1F2D23; 
            .sun{background-color: #1F2D23; cursor: pointer; &:hover{color: #D9D9D9;}}
        };

        .top{display: none;};
        .down{display: none;};

    };

    .active-navbar-light{ background-color: #B49450; height: 747px; overflow: hidden;

        .logo{display: none;};

        .middle{display: none;};

        .span-sun{display: none;};

        .top{text-align: center; margin-left: -60px;
            .button-close{color: #D9D9D9; font-size: 60px; cursor: pointer;};
        };

        .down{display: grid; grid-template-columns: 1fr 1fr; justify-items: center;

            .left{display: flex; flex-direction: column; align-self: center; margin-top: -60px;

                .link{font-size: 60px; text-transform: capitalize; color: #D9D9D9; margin-top: 20px;};

                #options{width: 300px; border: none; color: #D9D9D9; font-size: 60px; outline: none; background-color: #B49450; margin-left: -5px;

                    option{font-size: 30px; margin-left: 100px;};
                };
            };

            .right{
                .shape{margin-top: -75px; margin-left: 96px; position: relative; z-index: 2;};
                
                .icons{display: grid; grid-template-columns: 1fr 1fr; position: absolute; z-index: 3; margin: -600px 200px;
                    
                    .left{display: grid; grid-template-columns: 1fr; margin-top: 20px; gap: 20px;

                        .brush-tool-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #B49450; text-align: center;

                            margin-left: -50px; margin-top: 50px;

                            .brush-tool{color: white; font-size:45px; margin-top: 16px;};
                        };

                        .pen-tool-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #B49450; text-align: center;

                            margin: -40px 90px;

                            .pen-tool{color: white; font-size: 39px; margin-top: 20px;};
                        };

                        .code-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #B49450; text-align: center;
                        
                            margin: 130px 120px;

                            .code{color: white; font-size: 45px; margin-top: 18px;};
                        };

                    };

                    .right{display: grid; grid-template-columns: 1fr; margin-left: 30px; margin-top: 20px;
                        
                        .file-code-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #B49450; text-align: center;

                            margin: -50px -235px;

                            .file-code{color: white; font-size: 40px; margin-top: 18px;};
                        };

                        .color-pen-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #B49450; text-align: center;
                        
                            margin: 165px -100px;

                            .color-pen{color: white; font-size: 34px; margin-top: 20px;};
                        };

                        .design-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #B49450; text-align: center;
                        
                            margin: -125px 68px;

                            .design{margin-top: 17px; width: 43px;}
                        };

                        .digital-drawing-circle{width: 80px; height: 80px; border-radius: 100%; background-color: #B49450; text-align: center;
                        
                            margin: 0px 0px;

                            .digital-drawing{width: 50px; margin-top: 11px;};
                        };

                    };
                };
            };
        };



    };
};

//*---------------------home-------------------------//
.home-container-dark{display: grid; grid-template-columns: 1fr 1fr; place-items: center; height: 87.7vh; background-color: #1F2D23;

    .left{display: flex; flex-direction: column; text-align: center; row-gap: 45px; margin-left: 380px; width: 750px;

        .top{display: flex; flex-direction: column; text-align: center; row-gap: 10px;

            .first-title{color: #B49450; text-transform: capitalize; font-weight: 100; font-size: 65px;};

            .myname{color: #B49450; text-transform: uppercase; font-weight: 100; font-size: 120px;};
            
            .second-title{color: #B49450; font-weight: 100; font-size: 65px; text-transform: capitalize; 

                span{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
            };
        };

        .bottom{margin-left: -25px;
            .button{width: 190px; height: 67px; text-align: center; font-size: 37px; text-transform: capitalize; background-color: #B49450;
                color: #D9D9D9; border: none; border-radius: 8px; font-weight: 500; cursor: pointer; transition: .6s;

                &:hover{background-color: #D9D9D9; color: #B49450; box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.853); scale: 1.1;};
            };
        };
    };

    .right{display: flex; flex-direction: column; text-align: center; align-items: center; row-gap: 70px; margin-left: 257px; margin-top: 30px;

        .line{width: 1.4px; height: 215px; background-color: #B49450;};

        .text{color: #B49450; font-size: 29px; transform: rotate(-90deg); text-transform: capitalize;};
    };
};

.home-container-light{display: grid; grid-template-columns: 1fr 1fr; place-items: center; height: 87.7vh; background-color: white;

    .left{display: flex; flex-direction: column; text-align: center; row-gap: 45px; margin-left: 380px; width: 750px;

        .top{display: flex; flex-direction: column; text-align: center; row-gap: 10px;

            .first-title{color: #B49450; text-transform: capitalize; font-weight: 100; font-size: 65px;};

            .myname{color: #B49450; text-transform: uppercase; font-weight: 100; font-size: 120px;};
            
            .second-title{color: #B49450; font-weight: 100; font-size: 65px; text-transform: capitalize; 

                span{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
            };
        };

        .bottom{
            .button{width: 190px; height: 67px; text-align: center; font-size: 37px; text-transform: capitalize; background-color: #B49450;
                color: #D9D9D9; border: none; border-radius: 8px; font-weight: 500; cursor: pointer; transition: .6s;

                &:hover{background-color: #D9D9D9; color: #B49450; box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.853); scale: 1.1;};
            };
        };
    };

    .right{display: flex; flex-direction: column; text-align: center; align-items: center; row-gap: 70px; margin-left: 257px; margin-top: 30px;

        .line{width: 1.4px; height: 215px; background-color: #B49450;};

        .text{color: #B49450; font-size: 29px; transform: rotate(-90deg); text-transform: capitalize;};
    };
};